
h1 {
    align-content: center;
    align-items: center;
}

.todoList{
    position: relative;
    background-color:rgb(182, 245, 245);
    display: inline-block;
    margin: auto;
    width: 500px;
    height: 700px;
    padding: 50px;
    border-radius: 5%;
    align-items: center;
}

.todoform{
    position: relative;
} 

#itemInput{
    position: relative;
   height: 30px;
   width: 300px;
}  

#itemList{
    position: relative;
    display:inline-block;
    align-items: center;

}
